@charset "UTF-8";

/*

Chamamos o id no css por "#"
Chamamos as class no css por "."

*/

body {
    background-color: rgb(202, 253, 208);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(34, 110, 51);
}

#principal {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(122, 197, 141);
    border-radius: 12px;
    box-shadow: 2px 2px 9px;
}

.subtitulo {
    color: rgb(7, 61, 19);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 12px;
    box-shadow: 1px 1px 5px;
}

h2 {
    color: rgb(24, 78, 36);
}

.intermediario {
    color: rgb(124, 123, 38);
}

.avançado {
    color: rgb(116, 36, 36);
}